# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Streamlit
.streamlit/

# IDE / System
.vscode/
.idea/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Data and Models
data/*.csv
models/*.pkl